.footer {
  background-color: var(--gray-dark);
  color: var(--white);
  padding: 2rem 1rem 1rem;
  font-size: 0.9rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer-brand h3 {
  margin-bottom: 0.2rem;
  font-size: 1.4rem;
}

.footer-brand p {
  color: var(--gray-light);
  margin-bottom: 1rem;
}

.footer-brand img{
  width: 100px;
  height: 50px;
}

.footer-info p {
  margin: 0.3rem 0;
}

.footer-bottom {
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray);
  padding-top: 1rem;
  color: var(--gray-light);
}
.footer-Nosotros a{
  text-decoration: none;
  color: var(--white);
  transition: 0.4s;

  &:hover{
    color: var(--gray);
  }
  
}
/* Responsive */
@media (min-width: 600px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
}
